<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="net.dv8tion.jda" level="INFO"/>
    <logger name="Exposed" level="INFO"/>
    <logger name="io.lettuce.core.protocol.ConnectionWatchdog" level="WARN"/>
    <logger name="io.lettuce.core.protocol.ReconnectionHandler" level="WARN"/>
    <logger name="club.minnced.discord.webhook.WebhookClient" level="OFF"/>
</configuration>
