<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Glyph Config Editor</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
</head>
<body>
<nav>
    <div class="nav-branding">
        <img src="img/glyph.png" alt="Glyph">
        <h1>Glyph Config Editor
            <small class="tagline">what server do you want to edit today?</small>
        </h1>
    </div>
    <div class="nav-right">
        <ul class="nav-links">
            <li><a href="https://github.com/glyph-discord/config">Editor Source</a></li>
            <li><a href="https://glyph-discord.readthedocs.io/en/latest/skills.html">Documentation</a></li>
            <li><a href="https://gl.yttr.org/server">Support Server</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Select a server</h1>

    <ul class="guilds">
        {{#guilds}}
            <li><a href="/{{id}}">{{name}}</a></li>
        {{/guilds}}
        {{^guilds}}
            <li><a href="/login">Login to see servers</a></li>
        {{/guilds}}
    </ul>
</div>
</body>
</html>